@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 0px;
    border: 0px none #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    cursor: url("../img/cursor.svg"), auto;
}

nav {
    position: fixed;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.marquee-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F2EDE5;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.marquee-wrapper.t-1 {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 220px;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    user-select: none;
    color: #191919;
}

p {
    color: #191919;
    font-weight: 500;
}


.modal {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
}

.modal-images {
    width: 100%;
    height: 580px;
}

.role {
    margin: 5px 0;
}

.img {
    position: absolute;
    width: 100%;
    height: 600px;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.img#t-1 {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);

}

.info {
    margin-top: 24px;
}

#t-1 {
    background: #fff;
}

.t-2 {
    background: #c4bca9;
}

.t-3 {
    background: #fff;
}

.t-4 {
    background: #c4bca9;
}

@media (max-width: 900px) {
    .modal {
        width: 400px;
        height: 600px;
    }

    .modal-images {
        width: 100%;
        height: 500px;
    }

    .img {
        width: 100%;
        height: 500px;
    }
}
